<aside class="aside-left">
    <ul>
        <li class="nav-item">
            <a href="/" class="nav-link">
                <div class="side-nav-box">
                    <img src="/img/home.png" alt="home">
                    <p class="sidenav-link">Home</p class="sidenav-link">
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a href="/classes" class="nav-link">
                <div class="side-nav-box">
                    <img src="/img/classes.png" alt="salsa">
                    <p class="sidenav-link">Classes</p class="sidenav-link">
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a href="/contact" class="nav-link">
                <div class="side-nav-box">
                    <img src="/img/contact.png" alt="salsa">
                    <p class="sidenav-link">Contact</p class="sidenav-link">
                </div>
            </a>
        </li>
    </ul>
</aside>