<aside class="aside-right">
    <ul>
        <li class="nav-item">
            <a href="/styles/salsa" class="nav-link">
                <div class="side-nav-box">
                    <img src="/img/salsa.jpg" alt="home">
                    <p class="sidenav-link-right">Salsa</p>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a href="/styles/bachata" class="nav-link">
                <div class="side-nav-box">
                    <img src="/img/Bachata.jpg" alt="salsa">
                    <p class="sidenav-link-right">Bachata</p>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a href="/styles/kizomba" class="nav-link">
                <div class="side-nav-box">
                    <img src="/img/kizomba.jpg" alt="salsa">
                    <p class="sidenav-link-right">Kizomba</p>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a href="/styles/cumbia" class="nav-link">
                <div class="side-nav-box">
                    <img src="/img/cumbia.jpg" alt="salsa">
                    <p class="sidenav-link-right">Cumbia</p>
                </div>
            </a>
        </li>
    </ul>
</aside>