th {
    padding: 20px 5px;
    background: #f9dd8f;
}

td {
    padding: 10px;
}

tr:nth-of-type(even) {
    background-color: lightgoldenrodyellow;
}

tr:hover>td {
    background: #f9dd8f;
}

table {
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
}

tr td:nth-of-type(1) {
    text-align: left;
}

.blankCell {
    background: transparent;
}